# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#Binaries
pf/pftest
rm/rmtest

#db files
db/

.DS_Store

#makefiles
makefile.inc

*~

*\#*
.project
